.cta__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px 30px;
}

.form__input {
    height: 50px;
    padding: 12px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: $white-color;
    font-size: 14px;
    transition: background-color 250ms ease-in;

    &::placeholder {
        color: $placeholder;
    }

    &:focus {
        background-color: rgba(255, 255, 255, 0.25);
    }
}

.form__privacy {
    font-size: 13px;
    line-height: 1.23;
    color: $muted;
    text-align: center;
}
.form__btn {
    height: 50px;
    padding: 12px;
    color: $white-color;
    font-weight: 700;
    text-align: center;
    background-color: $accent-color;
    transition: background-color 250ms ease-in;

    &:hover {
        background-color: saturate($accent-color, 10);
    }
}