// Fonts
$font-main: 'Raleway', sans-serif;
$font-accent: 'Playfair Display', serif;
$font-secondary: 'Roboto', sans-serif;

// Color
$dark-color: #242B33;
$accent-color: #D4C17F;
$white-color: #FFFFFF;
$footer-bg: #2D343C;
$placeholder: #BEBEBE;
$muted: #E7E7E7;

//Media
$tablet: 959px;